body{
    background-color: teal;
    color: rgb(194, 97, 97);
    background-image: url(/assets/img2.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: url(); */
    background-size: 40px 40px;
    po
}
div{
background-image:                                            ;
}