.bor{
    border: 2px solid black;
    width: 600px;
    height: 500px;
   
} 

.form label
{
    width: 250px;
  
    margin-left: 20px;
}

.form{
    display:  flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 200px;
}
form{
    flex-direction: column;
}