#india{
    border: 40px solid ;
   border-width: 10px;
   border-color: black;
}
.navthan{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* .slideshow img{
  display: none;
}
.slideshow img:first{
    display: block;
}
@keyframes slide{
    0%{ opacity: 0;}
    100%{
        opacity: 1;
    }
}
.slideshow img{
    animation:slide 1s ease-in-out infinite;
} */
.slideshow{
    width: 1300px;
    height: 400px;
    animation-name: no;
    animation-iteration-count: infinite;
    animation-duration: 4.2s ;
    animation-direction: alternate;
    animation-fill-mode: both;

}
@keyframes no{
    0%{
        background-image: url(assets/kallanai.jpg);
    }
    50%{
    background-image: url(assets/thanjavurtemple.jpg);

    }
    100%{
        background-image: url(assets/collectoroffice.jpeg);

    }
}
