#india{
    border: 40px solid ;
   border-width: 10px;
   border-color: black;
}
.red{
    width: 885px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid black;
   
}
.red a{
    color: red;
    text-decoration: none;
}
.box h1{
    color: black;
}
.box #rev{
    color: green;
}
.box #develope{
    color:rgb(21, 109, 192);
}
.box #lb{
    color: red;
}
.box #con{
    color: cadetblue;
}
.depa a{
    color:rgb(223, 95, 21);
    text-decoration: none;
}

.animi{
    width: 885px;
    height: 400px;
    animation-name:pudu;
    animation-iteration-count: infinite;
    animation-duration: 3s ;
    /* animation-direction:alternate; */
    animation-fill-mode: both;

}

@keyframes pudu{
    0%{
        background-image: url(assets/pattukkotai\ court.jpg);
        background-repeat: no-repeat;
        background-size: 885px;
    }
    50%{
        
        background-image: url(assets/chithanavasal2.jfif);
        background-size: 885px;
    }
  
    100%{
        background-image: url(assets/pudukkottai\ collectrate-district.jpg);
        background-repeat: no-repeat;
        background-size: 885px;
    }
      

}
.thanjai{
    width: 885px;
    height: 400px;
    animation-name: tha;
    
    animation-iteration-count: infinite;
    animation-duration: 3s ;
    animation-direction: alternate;
    animation-fill-mode: both;

}
@keyframes tha{
    0%{
        background-image: url(assets/thanjavurtemple.jpg);
        background-size: 885px;
    }
    50%{
        
        background-image: url(assets/kallanai.jpg);
        background-size: 885px;
    }
    
    100%{
       
        background-image: url(assets/thanjavurtemple2.jfif);
        background-repeat: no-repeat;
        background-size: 885px;

    }
}
.naga{
    width: 880px;
    height: 400px;
   
    animation-name: nagap;
    animation-iteration-count: infinite;
    animation-duration: 4.2s ;
    animation-direction: alternate;
    animation-fill-mode: both;

}
@keyframes nagap{
    0%{
        background-image: url(assets/kodiyakkarai.jpg);
    }
    50%{
    background-image: url(assets/mangrove\ forest.jpg);

    }
    100%{
        background-image: url(assets/marine\ fishing.jpg);

    }
}
.tiru{
    width: 885px;
    height: 400px;

    animation-name: tir;
  
    animation-iteration-count: infinite;
    animation-duration: 4.2s ;
    animation-direction: alternate;
    animation-fill-mode: both;

}
@keyframes tir{
    0%{
        background-image: url(assets/iit.jpg);
    }
    50%{
    background-image: url(assets/rock\ fort.jpg);

    }
    100%{
        background-image: url(assets/srirangams.jpg);

    }
}
.slideshow{
    width:885px;
    height: 400px;
    
    animation-name: ari;
    
    animation-iteration-count: infinite;
    animation-duration: 5s ;
    animation-direction:reverse;
    animation-fill-mode: both;

}

@keyframes ari{
    0%{
        background-image: url(assets/Karaivetti\ Bird\ Sanctuary.jpeg);
        background-size: 885px;
    }
    50%{
    background-image: url(assets/gangaikonda.jpeg);
    background-size: 885px;

    }
    100%{
        background-image: url(assets/ARIYALUR\ collectrote.jpg);
        background-size: 885px;
    }
}



#below{
    width: 885px;
    border: 2px solid rgb(126, 123, 123);
    background-color: rgb(10, 10, 10);
    color: aliceblue;
}
#basic{
    font-size: 16px;
}
.about{
    width: 885px;
    
}
.box{
    width: 885px;
    height: 400px;
    
    background-color: rgb(241, 228, 222);
}
.bot{
    background-color: rgb(114, 98, 98);
}
.blas{
    margin-left: 250px;
    margin-top: 50px;
    border: 2px dotted black;
    width: 500px;
    height: 300px;
    background-image:linear-gradient(to top,red,green,yellow
    )
    ;
}