#india{
    border: 40px solid ;
   border-width: 10px;
   border-color: black;
}
.navthan{
    width: 885px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid black;
   
}
/* .slideshow img{
  display: none;
}
.slideshow img:first{
    display: block;
}
@keyframes slide{
    0%{ opacity: 0;}
    100%{
        opacity: 1;
    }
}
.slideshow img{
    animation:slide 1s ease-in-out infinite;
} */
.puduk{
    width: 885px;
    height: 400px;
    animation-name:pudu;
    animation-iteration-count: infinite;
    animation-duration: 4s ;
    animation-direction: alternate;
    animation-fill-mode: both;

}

@keyframes pudu{
    0%{
        background-image: url(assets/manamelkudi.webp);
        background-repeat: no-repeat;
        width: 885px;
    
        }
  
    
    
    50%{
        background-image: url(assets/Fort_of_thirumayam.jpg);
        background-repeat: no-repeat;
        width: 885px;
    }
  
    100%{
        background-image: url(assets/collectoroffice.jpeg);
        background-repeat: no-repeat;
        background-size: 885px;

    }
}
.thanjai{
    width: 885px;
    height: 400px;
    animation-name: tha;
    
    animation-iteration-count: infinite;
    animation-duration: 3s ;
    animation-direction: alternate;
    animation-fill-mode: both;

}
@keyframes tha{
    0%{
        background-image: url(assets/thanjavurtemple.jpg);
    }
    50%{
        
        background-image: url(assets/kallanai.jpg);
    }
    
    100%{
       
        background-image: url(assets/thanjavurtemple2.jfif);
        background-repeat: no-repeat;
        background-size: 885px;

    }
}
.slideshow{
    width: 1300px;
    height: 400px;
   
    animation-name: nagap;
    animation-iteration-count: infinite;
    animation-duration: 4.2s ;
    animation-direction: alternate;
    animation-fill-mode: both;

}
@keyframes nagap{
    0%{
        background-image: url(assets/kodiyakkarai.jpg);
    }
    50%{
    background-image: url(assets/mangrove\ forest.jpg);

    }
    100%{
        background-image: url(assets/marine\ fishing.jpg);

    }
}
.slideshow{
    width: 1300px;
    height: 400px;

    animation-name: tiru;
  
    animation-iteration-count: infinite;
    animation-duration: 4.2s ;
    animation-direction: alternate;
    animation-fill-mode: both;

}
@keyframes tiru{
    0%{
        background-image: url(assets/iit.jpg);
    }
    50%{
    background-image: url(assets/rock\ fort.jpg);

    }
    100%{
        background-image: url(assets/srirangams.jpg);

    }
}
.slideshow{
    width: 1300px;
    height: 400px;
    
    animation-name: ari;
    
    animation-iteration-count: infinite;
    animation-duration: 4.2s ;
    animation-direction: alternate;
    animation-fill-mode: both;

}

@keyframes ari{
    0%{
        background-image: url(assets/Karaivetti\ Bird\ Sanctuary.jpeg);
    }
    50%{
    background-image: url(assets/gangaikonda.jpeg);

    }
    100%{
        background-image: url(assets/ARIYALUR\ collectrote.jpg);

    }
}



#below{
    width: 885px;
    border: 2px solid rgb(126, 123, 123);
    background-color: rgb(10, 10, 10);
    color: aliceblue;
}
#basic{
    font-size: 16px;
}
.about{
    width: 885px;
    
}
.box{
    width: 885px;
    height: 400px;
    background-color: rgb(241, 228, 222);
}
.bot{
    background-color: rgb(114, 98, 98);
}